@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
}


.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
    padding: 5px;
}

.btn-primary {
    background-color: #ff900e;
    color: #fff;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/*---------------Header----------Start----------------*/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav>ul>li a {
    text-decoration: none;
    color: cadetblue;
    font-size: 20px;
}


/*-----------Banner-----------Start-------------*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.hide {
    display: none;
}

/*-----------Banner-----------Start-------------*/
/*---------------Header----------End----------------*/




/*-------------Main----------Start---------------*/
main {
    max-width: 1400px;
    margin: 0 auto;
}


/*-------Tean-------Section--------Start--------*/
.teams-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    gap: 1.5rem;
}

.teams-text-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .Quick-List {
    color: #727272;
    font-weight: 500;
}

.teams-title .Of-Our {
    color: #131313;
    font-weight: 600;
}

.teams-title .Text-Features {
    color: #ff900e;
    font-weight: 700;
}

/*-------Tean-------Section--------End--------*/




/*-------Feature-------Section--------Start--------*/
.featuer{
    margin-top: 130px;
    display: flex;
    gap: 30px;
    padding: 50px;
}

.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
   border-radius: 8px;
   background: #f3eaea;
   transition: 0.2s;
}

.feature-content .card:hover{
    box-shadow: 0px 4px 30px 0px lime;
}

.feature-img img{
   width: 100%;
   margin-top: 120px;
}

.featuer .section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}

.featuer .text-light-gray{
 margin-bottom: 20px;
}

.feature-content .text-light-gray{
    padding: 5px;
}

.ten-years-batch{
    border-radius: 8px;
    background-color: #ff900e;
    width: 340px;
    padding: 40px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-batch h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.ten-years-batch p{
    font-size: 2rem;
    font-weight: 500;
}
/*-------Feature-------Section--------End--------*/




/*-------Facts-------Section--------Start--------*/
.facts-title {
    text-align: center;
}

.facts-some-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 40px;
}

.facts-some-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 40px 30px;
}

.facts-some-container .card-stats {
    font-size: 2rem;
    color: #424242;
}

.facts-some-container.card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

/*-------Facts-------Section--------End--------*/




/*-------Responser-------Section--------Start--------*/
.Responser {
    text-align: center;
    margin-top: 40px;
}

.recponser-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 25px;
    margin-top: 30px;
}

.recponser-container img{
    width: 140px;
    text-align: center;
}

/*-------Responser-------Section--------End--------*/










/*-------------Main----------End---------------*/


.cradiet{
    text-align: center;
    padding: 30px;
    color: cadetblue;
}














/*-------------Responsive------------Start----------*/
/*------------Mobile------------Device--------------*/
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        font-size: 2rem;
    }

    /*----------Team-------Respinsive--------*/
    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding: 30px;

    }

    .teams-img-container img {
        width: 100%;
    }

    .teams-text-content {
        padding: 30px;
    }

    .teams-text-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    /*---------Facts---------Responsive---------*/
    .facts-some-container {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
        gap: 20px;
    }

    /*-------Responser-------Section--------*/
    .recponser-container {
        flex-direction: column;
    }

    .featuer{
      flex-direction: column;
    }

    .feature-img img{
        width: 90%;
        margin-left:0;
     }

     .ten-years-batch{
        position: static;
        max-width: 200px;
     }

     .ten-years-batch h2{
        font-size: 2.5rem;
     }

}


/*------------Tablet------------Device--------------*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    /*---------Team-------Respinsive--------*/
    .teams-container {
        flex-direction: column-reverse;
    }

    /*-------Responser-------Section--------*/
    .recponser-container {
        flex-direction: column;
    }

    .featuer{
        flex-direction: column;
      }
}